<div class="card text-center col-sm-6" style="margin-left: 20rem;">
    <div class="card-header">
        <h5 class="card-title" align="center">Programmer Details</h5>
    </div>
    <div class="card-body">
        <div>
            <label><b>First Name : </b></label> {{programmer.firstName}}
        </div>
        <div>
            <label><b>Last Name : </b></label> {{programmer.lastName}}
        </div>
        <div>
            <label><b>Email : </b></label> {{programmer.email}}
        </div>
        <hr>
        <a (click)="goToList()" class="btn btn-info">Back To List</a> &nbsp;
    </div>
    <div class="card-footer text-muted">

    </div>
</div>
<br>

<!--div class="row">
<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" align="center">Programmer Details</h5>
            <hr>
            <div>
                <label><b>First Name : </b></label> {{programmer.firstName}}
            </div>
            <div>
                <label><b>Last Name : </b></label> {{programmer.lastName}}
            </div>
            <div>
                <label><b>Email : </b></label> {{programmer.email}}
            </div>
            <hr>
            <a href="#" class="btn btn-primary">Details</a> &nbsp;
            <a href="#" class="btn btn-info">Update</a> &nbsp;
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
</div-->
